﻿@model MiniProjectEFNhaNVT12.Models.Taskk

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Taskk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequirementName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequirementName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assignee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assignee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reviewer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reviewer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskType.TaskTypeId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TaskkId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
