﻿@model MiniProjectEFNhaNVT12.Models.Taskk

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Taskk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequirementName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequirementName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assignee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assignee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reviewer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reviewer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskType.TaskTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaskkId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
