﻿@model MiniProjectEFNhaNVT12.Models.Taskk

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Taskk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TaskkId" />
            <div class="form-group">
                <label asp-for="TaskTypeId" class="control-label"></label>
                <select asp-for="TaskTypeId" class="form-control" asp-items="ViewBag.TaskTypeId"></select>
                <span asp-validation-for="TaskTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequirementName" class="control-label"></label>
                <input asp-for="RequirementName" class="form-control" />
                <span asp-validation-for="RequirementName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanFrom" class="control-label"></label>
                <input asp-for="PlanFrom" class="form-control" />
                <span asp-validation-for="PlanFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanTo" class="control-label"></label>
                <input asp-for="PlanTo" class="form-control" />
                <span asp-validation-for="PlanTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignee" class="control-label"></label>
                <input asp-for="Assignee" class="form-control" />
                <span asp-validation-for="Assignee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reviewer" class="control-label"></label>
                <input asp-for="Reviewer" class="form-control" />
                <span asp-validation-for="Reviewer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
