﻿@model IEnumerable<MiniProjectEFNhaNVT12.Models.Taskk>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequirementName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reviewer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequirementName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskType.TaskTypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaskkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TaskkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TaskkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
